.textbox {
  border: 1px solid #888;
  width: 400px;
  height: 70px;
  overflow: auto;
}

.button {
  display: inline-block;
  padding:5px 10px;
  -webkit-appearance:button;
  -moz-appearance:button;
}